<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

<div class="primary-container">
    <div class="login-overlay">
        <h3 class="login-title">
            Inicio de sesión
        </h3>
        <div class="overlay-separator"></div>
        <div class="overlay-body">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <input id="adminCode" type="password" class="form-control" placeholder="Ingrese el código de admin">
            </div>
            <button class="btn" [routerLink]="['/menuAdmin']">Login</button>
            <div class="control-container form-group">
            </div>
        </div>
    </div>
</div>
