
<div class="primary-container">
  <hr>
  <div class="card bg-light article-custom">
    <article class="card-body-mx-auto">
      <h1 class="card-title mt-3 text-center custom-margin">Bienvenidos a CineTEC</h1>
      <h3 class="card-title mt-3 text-center custom-margin">Por favor seleccione como desea ingresar:</h3>
      <div class="row row-custom">


        <div class="col col-custom">
          <button class="btn" [routerLink]="['/adminLogin']">Admin</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/clienteLogin']">Cliente</button>
        </div>
      </div>
    </article>
  </div>
</div>