<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<div class="primary-container">
    <hr>
    <div class="card bg-light article-custom">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center custom-margin">Registro de Sucursal</h4>
            <form>
                <div class="row">
                    <div class="form-group input-group col">
                        <input id="Sucursal" name="Sucursal" class="form-control" placeholder="Nombre de sucursal" type="text">
                      </div> <!-- form-group// -->

                      <div class="form-group input-group col">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                        </div>
                        <input id="dirección" name="dirección" class="direcciónl" placeholder="Dirección" type="text">
                      </div> <!-- form-group// -->

                      <div class="form-group input-group col">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa-solid fa-user-tie"></i></span>
                        </div>
                        <input id="adm" name="adm" class="form-control" placeholder="Admi_login" type="text">
                      </div> <!-- form-group// -->
                </div>


                      
                <div class="form-group">
                    <button id="saveButton" type="submit" class="btn-save btn btn-primary btn-block">Guardar nueva sucursal</button>
                  </div> <!-- form-group// -->
          

            <hr class="style18">

            <div class="margin-div">
                <h2>Sucursales registrados</h2>
                <div class="movie-table">
                    <table class="table table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <div class="dropdown-menu" aria-labelledby="tableMenu" id="context-menu">
                </div>
            </div>

        